[Unit]
Description=mouse
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/env sh /tmp/mouse/run.sh

[Install]
WantedBy=multi-user.target
